* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
del {
	text-decoration: line-through;
}
body {
	font-family: Helvetica, Open Sans, Arial, sans-serif;
	font-size: 17px;
	color: #333;
	overflow-x: hidden;
	min-width: 320px;
}
input,textarea,select{
	font-family:'Helvetica', Open Sans, Arial, sans-serif;
}

a{
	color: #333;
}
a:hover {
	color: var(--main-hover-color);
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}
p{
	line-height:1.6em;
	font-size: 16px;
	font-family: 'Helvetica',Open_Sanslight,Arial;
}
.hidden{
	display:none;
}
br.clear {
	clear: both;
	line-height: 0;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width:1200px;
}
:root {
  --main-bg-color: #0f1923;
  --main-heading-color: #fff;
  --main-hover-color: #85d9e3;
}
#home {
	margin: 0 auto;
}
header {
	position: relative;
	z-index: 1;
}
header section.wrapper {
	width: 85%;
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
}
header h1.left {
	margin-top: 10px;
	width: 70px;
}
header h1.left a {
	width: 100%;
	display: block;
}
header h1.left a img {
	width: 100%;
}
header nav {

}
header nav ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header nav ul li {
	margin-right: 40px;
}
header nav ul li a {
	font-size: 18px;
	font-weight: 400;
	color: var(--main-heading-color);
}
header nav ul li a:hover {
	color: var(--main-hover-color);
}
header nav ul li a.button {
	padding: 12px 24px;
	background: #2ab840;
	color: #fff;
	border-radius: 8px;
}
header nav ul li a.button:hover {
	background: #fff;
	color: #2ab840;
}
#spotlight {
	position: relative;
	z-index: 1;
}
#spotlight section.wrapper {
	margin: 0 auto;
	text-align: center;
}
#spotlight div.top {
	padding-top: 120px;
}
#spotlight div.top h1 a {
	font-size: 80px;
	font-weight: bolder;
	color: var(--main-heading-color);
}
#spotlight div.top a:hover {
	color: var(--main-hover-color);
}
#spotlight div.social {
	max-width: 100%;
	margin: 80px auto;
	text-align: center;
}
#spotlight div.social ul {
	width: 25%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#spotlight div.social ul li {
}
#spotlight div.social ul li img {
	filter: contrast(50) grayscale(100%);
    opacity: 0.4;
    padding: 8px;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
}
#spotlight div.social ul li img:hover {
    opacity: 80%;
}
#about {
	margin: 0 auto;
	width: 70%;
	padding: 80px 0;
	background: var(--main-bg-color);
	position: relative;
	z-index: 1;
}
#about section.wrapper {
}
#about div.content {
	padding: 32px;
	text-align: center;
}
#about div.content h1.image {
	margin: 0 auto;
	width: 100px;
	margin-bottom: 24px;
}
#about div.content h1.image a {
	width: 100%;
}
#about div.content h1.image a img {
	width: 100%;
}
#about div.content h1 {
	font-size: 50px;
	font-weight: 700;
	color: var(--main-heading-color);
	margin-bottom: 24px;
}
#about div.content p {
	font-style: 20px;
	font-weight: 400;
	color: #000;
	color: var(--main-heading-color);
	margin-bottom: 80px;
}
#about div.content a.button {
	padding: 10px 24px;
	border: 1px solid #fff;
	color: var(--main-heading-color);
}
#about div.content a.button:hover {
	color: var(--main-hover-color);
}
#Professions {
	text-align: center;
	margin: 0 auto;
	width: 70%;
	padding: 100px 0;
	position: relative;
	z-index: 1;
}
#Professions section.content {
	width: 90%;
	margin: 0 auto;
}
#Professions section.content h1 {
	font-size: 50px;
	font-weight: 700;
	color: var(--main-heading-color);
	margin-bottom: 24px;
}
#Professions section.content ul {
	margin: 0 auto;
	padding-top: 24px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
#Professions section.content ul li {
	width: 160px;
}
#Professions section.content ul li img {
	width: 100%;
}
#skills {
	width: 70%;
	margin: 0 auto;
	padding: 80px 0;
	position: relative;
	z-index: 1;
}
#skills section.wrapper {
	text-align: center;
}
#skills div.top {
	margin-bottom: 80px;
}
#skills div.top h1 {
	font-size: 50px;
	font-weight: 700;
	color: var(--main-heading-color);
	margin-bottom: 16px;
}
#skills div.top span {
	color: #d5d5d5;
}
#skills div.content {
	width: 90%;
}
#skills div.content div.container {
	display: flex;
	align-items: center;
	color: #d5d5d5;
	margin-bottom: 24px;
	flex-wrap: wrap;
}
#skills div.content div.container span {
	margin-right: 24px;
	text-align: right;
	width: 108.33px;
}
#skills div.content div.container div.percentage {
	height: 10px;
	background: #2ab840;
	margin-right: 24px;
}
#skills div.content div.container div.percentage.HTML {
	width: 70%;
}
#skills div.content div.container div.percentage.CSS {
	width: 65%;
}
#skills div.content div.container div.percentage.GITLAB {
	width: 55%;
}
#skills div.content div.container div.percentage.GITHUB {
	width: 60%;
}
#skills div.content div.container div.percentage.PS {
	width: 70%;
}
#skills div.content div.container p {

}
#projects {
	width: 70%;
	margin: 0 auto;
	padding: 80px 0 100px;
	position: relative;
	z-index: 1;
}
#projects section.wrapper {
	text-align: center;
}
#projects div.head {

}
#projects div.head h1 {
	font-size: 50px;
	font-weight: 700;
	color: var(--main-heading-color);
	margin-bottom: 24px;
}
#projects div.content {
	padding-top: 80px;
}
#projects div.content h2 {
	margin: 40px auto;
	color: red;
}
#learn {
	background: #fff;
	padding-top: 80px;
	padding-bottom: 80px;
	position: relative;
	z-index: 1;
}
#learn section.top {
	margin-bottom: 80px;
	text-align: center;
}
#learn section.top span {
	font-size: 18px;
	font-weight: 700;
}
#learn section.content {
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#learn div.left {
	width: 45%;
}
#learn div.left h1 {
	width: 150px;
	margin-bottom: 24px;
}
#learn div.left h1 a {
	width: 100%;
}
#learn div.left h1 a img {
	width: 100%;
}
#learn div.left h1 a img:hover {
	opacity: 80%;
}
#learn div.left p {
	width: 80%;
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 24px;
}
#learn div.left p a {
	font-weight: 700;
}
#learn div.left p a:hover {
	color: #36a66f;
}
#learn div.left a.button {
	max-width: 70%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #fff;
	border: 1px solid #fff;
	border-radius: 30px;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
#learn div.left a.button:hover {
	color: #36a66f;
}
#learn div.left a.button span {
	padding: 20px;
}

#learn div.left a.button img.arrow {
	width: 50px;
}
#learn div.right {
	width: 45%;
}
#learn div.right img {
	width: 80%;
}
footer {
	background: rgba(15, 25, 35, 0.8);
	padding-top: 80px;
	position: relative;
	z-index: 1;
}
footer section.wrapper {
	width: 90%;
	margin: 0 80px;
}
footer section.top {
	width: 80%;
	display: flex;
	align-items: center;
}
footer section.top div.left {
	width: 300px;
	margin-right: 120px;
}
footer section.top div.left img {
	width: 100%;
}
footer section.top div.left div#connect {
	padding-top: 28px;
}
footer section.top div.left div#connect ul {
	margin-left: 24px;
	display: flex;
	align-items: center;
}
footer section.top div.left div#connect ul li {
	margin-right: 16px;
}
footer section.top div.left div#connect ul li a {

}
footer section.top div.left div#connect ul li a img {
	padding: 8px;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    filter: grayscale(100%);
    opacity: 0.4;
}
footer section.top div.left div#connect ul li a img:hover {
	opacity: 80%;
}
footer section.top nav {
	margin-right: 120px;
}
footer section.top nav span {
	color: #fff;
	font-weight: 600;
}
footer section.top nav ul {
	margin-top: 14px;
}
footer section.top nav ul li {
	margin-bottom: 10px;
}
footer section.top nav ul li img {

}
footer section.top nav ul li a {
	color: #d5d5d5;
}
footer section.top nav ul li a:hover {
	color: var(--main-hover-color);
}
footer section.top div.contact {
	color: var(--main-heading-color);
}
footer section.top div.contact p {
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 12px;
}
footer section.top div.contact p.one {
}
footer section.top div.contact p a {
	color: #fff;
}
footer section.top div.contact p a img {
	width: 20px;
	margin-right: 10px;
}
footer section.bottom {
	margin-top: 40px;
	background: #0a1016;
	max-width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 80px;
}
footer section.bottom div.left {
}
footer section.bottom div p {
	color: #8a8a8a;
	font-size: 14px;
	font-weight: 500;
}
footer section.bottom div p a {
	color: #8a8a8a;
	font-size: 14px;
	font-weight: 500;
}
footer section.bottom div.right {
}
footer section.bottom div p a:hover {
	color: #fff;
}
#bg {
	width: 100%;
	height: 100vh;
	background: url(../images/background2.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100vh;
	position: fixed;
	z-index: 0;
	top: 0;
	left: 0;
}

@media all and (max-width: 1280px) {
	#spotlight div.social ul {
		width: 40%;
	}
	#Professions section.content ul li {
		width: 240px;
		margin-right: 24px;
		margin-bottom: 24px;
	}
	#learn div.left a.button {
		max-width: 80%;
	}
}
@media all and (max-width: 980px) {
	header nav {
		display: none;
	}
	header h1.left {
		margin: 0 auto;
		padding-top: 40px;
	}
	#about {
		width: 95%;
	}
	#Professions {
		width: 95%;
	}
	#skills {
		width: 95%;
	}
	#Professions section.content ul {
		width: 300px;
	}
	#skills div.content div.container span {
		margin-right: 100%;
	}
	#learn div.left {
		width: 90%;
	}
	#learn div.right {
		display: none;
	}
	footer section.top {
		display: block;
		margin: 0 auto;
		text-align: center;
	}
	footer section.top div.left {
		margin: 0 auto;
		margin-bottom: 40px;
	}
	footer section.top nav {
		display: none;
	}
	footer section.top div.contact {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
	}
}
@media all and (max-width: 786px) {
	#home {
		background: var(--main-bg-color);
	}
	#spotlight div.top h1 a {
		font-size: 72px;
	}
	#spotlight div.social ul {
		width: 60%;
	}
	footer section.wrapper {
		margin: 0 auto;
	}
	footer section.bottom {
		padding: 10px 40px;
	}
}
@media all and (max-width: 640px) {
	#spotlight div.top h1 a {
		font-size: 64px;
	}
	#about div.content h1 {
		font-size: 36px;
	}
	#Professions section.content h1 {
		font-size: 36px;
	}
	#skills div.top h1 {
		font-size: 36px;
	}
	#projects div.head h1 {
		font-size: 36px;
	}
	footer section.top div.contact {
		display: block;
	}
	footer section.bottom {
		display: block;
		margin: 0 auto;
		text-align: center;
		padding: 24px 0;
	}
}
@media all and (max-width: 480px) {
	#spotlight div.top h1 a {
		font-size: 50px;
	}
	#spotlight div.social ul {
		width: 90%;
	}
	#learn div.left {
		width: 100%;
	}
	#learn div.left a.button {
		max-width: 100%;
	}
	footer section.top {
		margin: 0 auto;
	}
	footer section.top div.left {
		margin: 0;
		margin-bottom: 40px;
		width: 200px;
	}
	footer section.top div.left div#connect {
		width: 100%;
	}
	footer section.top div.left div#connect ul {
		flex-wrap: wrap;
		margin: 0 auto;
	}
}